:host {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.w3-container {
    margin: 60px auto;
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 960px;
}
tr {
    transition: 250ms ease all;
}
tr:not(:first-child):hover {
    cursor: pointer;
    background: darkslategray;
    color: white;
}