:host {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.w3-container {
    margin: 60px auto;
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 960px;
}
tr {
    transition: 250ms ease all;
}
tr:not(:first-child):hover {
    cursor: pointer;
    background: darkslategray;
    color: white;
}
.fa-npm, .fa-github {
    font-size: 60px;
    margin: 20px;
    transition: 250ms ease opacity;
}
.fa-npm:hover, .fa-github:hover {
    opacity: 0.5;
    cursor: pointer;
}
.fa-npm {
    color: #cb3838;
}
.fa-github {
    padding: 10px;
}