:host {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.w3-container {
    margin: 60px auto;
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 960px;
}